* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between;

}

li {
    display: inline;
}

.contenedor {
    margin: 0;
}


.navbar {
    display:inline ;
    height: 60px;
    width: 100%;
    background-color: hsla(197, 14%, 57%, 1);

    background: linear-gradient(90deg, hsla(197, 14%, 57%, 1) 0%, hsla(192, 17%, 94%, 1) 50%, hsla(192, 17%, 94%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(197, 14%, 57%, 1) 0%, hsla(192, 17%, 94%, 1) 50%, hsla(192, 17%, 94%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(197, 14%, 57%, 1) 0%, hsla(192, 17%, 94%, 1) 50%, hsla(192, 17%, 94%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#8399a2", endColorstr="#eef2f3", GradientType=1);
    ;
    position: absolute;
    top: 0;
}

.logo {
    width: 80px;
    height: 80px;
    top: 0;
}